.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.button {
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 19px;
  color: inherit;
  text-align: center;
  padding: 0;
  background-color: #5A0909;
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border: none;
  border-radius: 19px;
  box-sizing: border-box;
}
.button--rounded {
  border-radius: 30px;
}
.title {
  font-weight: 700;
  font-size: 48px;
  line-height: 146.28%;
  color: #5A0909;
  text-align: center;
  margin: 0;
}
@media (max-width: 375px) {
  .title {
    font-size: 14px;
  }
}
.play-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  color: #FFFFFF;
  padding: 22px 40px;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 200px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.play-button::before {
  content: "";
  width: 60px;
  height: 55px;
  margin-right: 21px;
  background-color: transparent;
  background-image: url("../img/play-btn.svg");
  border-radius: 50%;
  display: block;
}
@media (max-width: 375px) {
  .play-button {
    font-size: 7px;
    line-height: 158.47%;
    padding: 7px 9px;
  }
  .play-button::before {
    width: 20px;
    height: 20px;
    margin-right: 4px;
    background-size: 100% 100%;
  }
}
.logo {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  display: grid;
  grid-template-columns: max-content min-content;
  grid-template-rows: min-content min-content;
  grid-template-areas: "image title" "image text";
  grid-column-gap: 15px;
}
.logo picture {
  grid-area: image;
}
@media (max-width: 375px) {
  .logo {
    color: #5A0909;
    grid-template-columns: max-content 105px;
    grid-column-gap: 0;
  }
}
.logo__image {
  width: 54px;
  height: 100px;
  align-self: center;
}
@media (max-width: 375px) {
  .logo__image {
    width: 45px;
    height: 45px;
  }
}
.logo__title {
  font-weight: 500;
  font-size: 38px;
  line-height: 146.28%;
  margin: 0;
  grid-area: title;
  align-self: end;
}
@media (max-width: 375px) {
  .logo__title {
    font-size: 24px;
  }
}
.logo__text {
  font-weight: 200;
  font-size: 10px;
  line-height: 100%;
  margin: 0;
  grid-area: text;
}
@media (max-width: 375px) {
  .logo__text {
    font-size: 7px;
  }
}
.social {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}
.social__item {
  margin-right: 8px;
}
.social__item:nth-child(4) {
  margin-right: 0;
}
.footer-social {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.footer-social__item {
  margin-right: 0;
  margin-bottom: 15px;
}
@media (max-width: 375px) {
  .footer-social__item {
    width: 10px;
    height: 10px;
    margin-bottom: 4px;
  }
}
@media (max-width: 375px) {
  .footer-social__image {
    width: 10px;
    height: 10px;
  }
}
.contacts {
  list-style: none;
  width: 240px;
  padding: 0;
  margin: 10px 50px 0 0;
  display: flex;
  flex-direction: column;
}
@media (max-width: 375px) {
  .contacts {
    margin: 0 35px 0 0;
    width: 92px;
  }
}
.contacts__item {
  margin-bottom: 30px;
}
@media (max-width: 375px) {
  .contacts__item {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
  }
}
.contacts__name {
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  margin: 0 0 17px;
}
@media (max-width: 375px) {
  .contacts__name {
    font-size: 7px;
    line-height: 9px;
    margin: 0;
  }
}
.contacts__text {
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #FFFFFF;
}
@media (max-width: 375px) {
  .contacts__text {
    font-size: 7px;
    line-height: 9px;
  }
}
.page-body {
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
  width: 100%;
  padding: 0;
  margin: 0;
}
.page-body picture {
  margin-bottom: -5px;
}
.page-body--index {
  display: grid;
  grid-template-rows: min-content auto min-content;
}
@media (max-width: 375px) {
  .page-body--index {
    display: initial;
  }
}
.page-header {
  width: 100%;
  padding: 0 205px;
  background-color: transparent;
  border-bottom: 1px solid rgba(161, 161, 161, 0.5);
  box-sizing: border-box;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  z-index: 2;
}
@media (max-width: 375px) {
  .page-header {
    padding: 0 26px 7px 36px;
    background-color: #FFFFFF;
  }
}
.page-header__social {
  margin-right: 110px;
}
@media (max-width: 375px) {
  .page-header__social {
    display: none;
  }
}
.page-header__contact {
  text-align: center;
}
@media (max-width: 375px) {
  .page-header__contact {
    margin-top: 5px;
  }
}
.page-header__phone {
  font-weight: 700;
  font-size: 24px;
  line-height: 146.28%;
  color: inherit;
  text-decoration: none;
}
@media (max-width: 375px) {
  .page-header__phone {
    display: none;
  }
}
.page-header__text {
  font-weight: normal;
  font-size: 15px;
  line-height: 100%;
  margin: 0;
}
@media (max-width: 375px) {
  .page-header__text {
    display: none;
  }
}
.page-header__call-btn {
  display: none;
}
@media (max-width: 375px) {
  .page-header__call-btn {
    display: initial;
  }
}
.main-nav {
  margin-right: 110px;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 375px) {
  .main-nav {
    margin-right: 20px;
    align-items: center;
  }
}
.main-nav__logo {
  margin-right: 90px;
}
@media (max-width: 375px) {
  .main-nav__logo {
    margin-right: 0;
    margin-left: 50px;
  }
}
.main-nav__list {
  color: #E0E0E0;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}
.main-nav__list--index {
  color: #FFFFFF;
}
@media (max-width: 375px) {
  .main-nav__list {
    display: none;
  }
}
.main-nav__item {
  width: 107px;
  padding-top: 43px;
  margin-right: 5px;
  display: flex;
  justify-content: center;
}
.main-nav__item--current {
  border-bottom: 2px solid #5A0909;
}
.main-nav__item--index {
  border-bottom: 2px solid #FFFFFF;
}
.main-nav__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: inherit;
}
.main-nav__button {
  width: 36px;
  height: 16px;
  padding: 0;
  background-color: transparent;
  border: none;
  border-top: 4px solid #5A0909;
  border-bottom: 4px solid #5A0909;
  box-sizing: border-box;
  display: block;
  display: none;
  position: relative;
}
.main-nav__button::after {
  content: "";
  width: 36px;
  height: 4px;
  background-color: #5A0909;
  position: absolute;
  left: 0;
  top: 2px;
}
@media (max-width: 375px) {
  .main-nav__button {
    display: initial;
  }
}
.page-main {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
}
.banner {
  text-align: center;
  width: 100%;
  height: 900px;
  background-color: #C4C4C4;
  background-image: url("../img/banner-bg.jpg");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 375px) {
  .banner {
    height: 377px;
    background-image: url("../img/banner-bg-mobile.jpg");
  }
}
.banner__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
}
@media (max-width: 375px) {
  .banner__text {
    font-size: 7px;
    line-height: 9px;
    max-width: 185px;
    margin-top: 30px;
  }
}
.banner__caption {
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  margin: 0;
}
@media (max-width: 375px) {
  .banner__caption {
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
  }
}
.banner__button {
  padding: 13px 53px;
  margin-top: 30px;
}
@media (max-width: 375px) {
  .banner__button {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    padding: 5px 20px;
    margin-top: 8px;
  }
}
.about {
  text-align: start;
  width: 100%;
  padding: 120px 100px 202px 280px;
  background-color: #F6F6F8;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content min-content min-content;
  grid-gap: 25px 240px;
  position: relative;
}
.about::after {
  content: "";
  width: 1110px;
  height: 1px;
  background-color: #E0E0E0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 118px;
}
@media (max-width: 375px) {
  .about {
    padding: 35px 25px 35px 20px;
    grid-gap: 16px 18px;
  }
  .about::after {
    display: none;
  }
}
.about__image {
  grid-row-start: 1;
  grid-row-end: 4;
}
@media (max-width: 375px) {
  .about__image {
    width: 138px;
    height: 131px;
    align-self: center;
  }
}
.about__title {
  text-align: start;
  align-self: end;
}
@media (max-width: 375px) {
  .about__title {
    margin-bottom: 17px;
  }
}
.about__text {
  font-weight: normal;
  font-size: 20px;
  line-height: 158.47%;
  color: #C4C4C4;
  margin: 0;
}
@media (max-width: 375px) {
  .about__text {
    font-size: 7px;
  }
  .about__text--desktop {
    display: none;
  }
}
.about__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #5A0909;
}
@media (max-width: 375px) {
  .about__link {
    font-size: 11px;
    line-height: 13px;
  }
}
.gallery {
  text-align: center;
  padding: 195px 183px 291px 138px;
  box-sizing: border-box;
  position: relative;
}
.gallery::after {
  content: "";
  width: 1110px;
  height: 1px;
  background-color: #E0E0E0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 87px;
}
@media (max-width: 375px) {
  .gallery {
    padding: 40px 20px 35px;
  }
  .gallery::after {
    display: none;
  }
}
.gallery__slider {
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 375px) {
  .gallery__slider {
    padding: 0 40px;
    margin: 35px 0 0 10px;
  }
}
.gallery__nav {
  color: #5A0909;
  width: 49px;
  height: 90px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.gallery__nav--next {
  transform: rotate(180deg);
}
@media (max-width: 375px) {
  .gallery__nav {
    width: 20px;
    height: 20px;
    margin-bottom: 50px;
  }
}
.gallery__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  overflow: hidden;
}
.gallery__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 122px;
}
.gallery__item:nth-child(3n) {
  margin-right: 0;
}
@media (max-width: 375px) {
  .gallery__item {
    margin: 0 29px 0 21px;
  }
}
@media (max-width: 375px) {
  .gallery__image {
    width: 165px;
    height: 192px;
  }
}
.gallery__button {
  width: 175px;
  padding: 10px 0;
  margin-top: 18px;
}
@media (max-width: 375px) {
  .gallery__button {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    width: 142px;
    padding: 8px 0;
  }
}
.making {
  color: #FFFFFF;
  text-align: center;
  padding: 50px 100px;
  background-color: transparent;
  background-image: linear-gradient(#5A0909 0%, #5A0909 100%);
  background-size: 100% 570px;
  background-repeat: no-repeat;
}
@media (max-width: 375px) {
  .making {
    padding: 45px 45px 30px;
  }
}
.making__title {
  color: #FFFFFF;
}
@media (max-width: 375px) {
  .making__title {
    display: none;
  }
}
.making__text {
  margin: 0;
}
@media (max-width: 375px) {
  .making__text {
    display: none;
  }
}
.making__slider {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 375px) {
  .making__slider {
    margin-top: 0;
  }
}
.making__nav {
  color: #FFFFFF;
  width: 49px;
  height: 90px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.making__nav--next {
  transform: rotate(180deg);
}
@media (max-width: 375px) {
  .making__nav {
    width: 15px;
    height: 15px;
  }
}
.making__list {
  list-style: none;
  padding: 0;
  margin: 0 100px;
  display: flex;
  justify-content: center;
  position: relative;
  flex-grow: 1;
}
@media (max-width: 375px) {
  .making__list {
    margin: 0 16px;
  }
}
.making__item:nth-child(1) {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}
.making__item:nth-child(1) .making__preview {
  width: 259px;
  height: 239px;
  object-fit: none;
}
.making__item:nth-child(1) .making__button {
  display: none;
}
.making__item:nth-child(2) {
  position: absolute;
  left: 104px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}
.making__item:nth-child(2) .making__preview {
  width: 321px;
  height: 305px;
  object-fit: none;
}
.making__item:nth-child(2) .making__button {
  display: none;
}
.making__item:nth-child(3) {
  position: relative;
  z-index: 3;
}
.making__item:nth-child(3) .making__preview {
  width: 970px;
  height: 430px;
  object-fit: none;
}
.making__item:nth-child(4) {
  position: absolute;
  right: 104px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}
.making__item:nth-child(4) .making__preview {
  width: 321px;
  height: 305px;
  object-fit: none;
}
.making__item:nth-child(4) .making__button {
  display: none;
}
.making__item:nth-child(5) {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}
.making__item:nth-child(5) .making__preview {
  width: 259px;
  height: 239px;
  object-fit: none;
}
.making__item:nth-child(5) .making__button {
  display: none;
}
@media (max-width: 375px) {
  .making__item {
    display: none;
  }
  .making__item:nth-child(4) {
    display: initial;
    position: static;
    transform: translateY(0);
  }
  .making__item:nth-child(4) .making__preview {
    width: 216px;
    height: 103px;
  }
  .making__item:nth-child(4) .making__button {
    display: flex;
  }
}
.making__button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.blog {
  color: #FFFFFF;
  text-align: center;
  padding: 0 170px 0 190px;
  margin-top: 215px;
  background-color: transparent;
  background-image: linear-gradient(#5A0909 0%, #5A0909 100%);
  background-size: 100% 415px;
  background-repeat: no-repeat;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 375px) {
  .blog {
    padding: 22px 100px 24px 120px;
    margin-top: 0;
    background-image: none;
  }
}
.blog__title {
  color: #FFFFFF;
  margin-top: 35px;
  flex-grow: 1;
}
@media (max-width: 375px) {
  .blog__title {
    font-weight: 700;
    font-size: 20px;
    color: #5A0909;
    margin-top: 0;
  }
}
.blog__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 158.47%;
  text-align: start;
  width: 750px;
  margin: 55px 135px 0 0;
}
@media (max-width: 375px) {
  .blog__text {
    display: none;
  }
}
.blog__slider {
  margin-top: 65px;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 375px) {
  .blog__slider {
    margin-top: 24px;
  }
}
.blog__nav {
  color: #5A0909;
  width: 49px;
  height: 90px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.blog__nav--next {
  transform: rotate(180deg);
}
@media (max-width: 375px) {
  .blog__nav {
    display: none;
  }
}
.blog__list {
  list-style: none;
  padding: 0;
  margin: 0 105px;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 375px) {
  .blog__list {
    margin: 0;
    flex-direction: column;
    align-items: center;
  }
}
.blog__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blog__item:nth-child(3n) {
  margin-right: 0;
}
@media (max-width: 375px) {
  .blog__item:nth-child(3n) {
    display: none;
  }
}
@media (max-width: 375px) {
  .blog__image {
    width: 118px;
    height: 102px;
    border-radius: 38px;
  }
}
.blog__link {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #5A0909;
  margin-top: 32px;
}
@media (max-width: 375px) {
  .blog__link {
    font-size: 9px;
    line-height: 11px;
    margin: 8px 0 29px;
  }
}
.blog__button {
  font-weight: 500;
  font-size: 9px;
  line-height: 11px;
  text-decoration: none;
  padding: 8px 20px;
  display: none;
}
@media (max-width: 375px) {
  .blog__button {
    display: initial;
  }
}
.delivery {
  text-align: center;
  padding: 84px 380px 127px 420px;
  margin-top: 115px;
  background-color: #F6F6F8;
  box-sizing: border-box;
  position: relative;
}
.delivery::before {
  content: "";
  width: 1110px;
  height: 1px;
  background-color: #E0E0E0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 40px;
}
.delivery::after {
  content: "";
  width: 1110px;
  height: 1px;
  background-color: #E0E0E0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 51px;
}
@media (max-width: 375px) {
  .delivery {
    padding: 13px 75px 33px 80px;
    margin-top: 0;
  }
  .delivery::before,
  .delivery::after {
    display: none;
  }
}
@media (max-width: 375px) {
  .delivery__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 146.28%;
  }
}
.delivery__list {
  list-style: none;
  padding: 0;
  margin: 30px 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 375px) {
  .delivery__list {
    margin-top: 15px;
  }
}
.delivery__item {
  text-align: start;
  width: 350px;
  margin-right: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.delivery__item:nth-child(3n) {
  margin-right: 0%;
}
@media (max-width: 375px) {
  .delivery__item {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-rows: min-content min-content;
    grid-template-areas: "image title" "image text";
    grid-column-gap: 33px;
  }
}
.delivery__image {
  width: 92px;
  height: 92px;
  object-fit: none;
  margin-bottom: 55px;
}
@media (max-width: 375px) {
  .delivery__image {
    width: 29px;
    height: 29px;
    object-fit: contain;
    margin-bottom: 0;
    grid-area: image;
  }
}
.delivery__name {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  width: 100%;
  margin: 0;
}
@media (max-width: 375px) {
  .delivery__name {
    font-size: 9px;
    line-height: 11px;
    grid-area: title;
  }
}
.delivery__number {
  color: #5A0909;
}
.delivery__description {
  font-weight: 400;
  font-size: 20px;
  line-height: 158.47%;
  color: #C4C4C4;
}
@media (max-width: 375px) {
  .delivery__description {
    font-size: 7px;
    grid-area: text;
  }
  .delivery__description--desktop {
    display: none;
  }
}
.delivery__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #5A0909;
  width: 100%;
  margin-top: 12px;
}
@media (max-width: 375px) {
  .delivery__link {
    display: none;
  }
}
.delivery__button {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  padding: 3px 32px;
  margin: 22px auto 0;
  display: none;
}
@media (max-width: 375px) {
  .delivery__button {
    display: initial;
  }
}
.page-footer {
  padding: 85px 160px 35px;
  background-color: #5A0909;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 375px) {
  .page-footer {
    padding: 11px 110px 7px;
  }
}
.page-footer__title {
  font-weight: 600;
  color: #FFFFFF;
  margin: 0 auto;
}
@media (max-width: 375px) {
  .page-footer__title {
    display: none;
  }
}
.page-footer__wrapper {
  margin: 62px 0 93px;
  display: flex;
  align-items: flex-end;
}
@media (max-width: 375px) {
  .page-footer__wrapper {
    margin: 0;
  }
}
.page-footer__contacts-wrapper {
  margin: 0 175px 0 200px;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 375px) {
  .page-footer__contacts-wrapper {
    margin: 0;
    flex-wrap: nowrap;
  }
}
@media (max-width: 375px) {
  .page-footer__map {
    display: none;
  }
}
.page-footer__button {
  font-weight: 400;
  font-size: 30px;
  line-height: 32px;
  color: #5A0909;
  padding: 13px 0;
  margin-top: 20px;
  background-color: #FFFFFF;
  flex-grow: 1;
}
@media (max-width: 375px) {
  .page-footer__button {
    display: none;
  }
}
.page-footer__copyright {
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  color: #C4C4C4;
  text-align: center;
  margin: 0 auto;
}
@media (max-width: 375px) {
  .page-footer__copyright {
    font-size: 5px;
    line-height: 158.47%;
    margin-top: 13px;
  }
}
