.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.button {
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 19px;
  color: inherit;
  text-align: center;
  padding: 0;
  background-color: #5A0909;
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border: none;
  border-radius: 19px;
  box-sizing: border-box;
  cursor: pointer;
}
.button--rounded {
  border-radius: 30px;
}
.title {
  font-weight: 700;
  font-size: 14px;
  line-height: 146.28%;
  color: #5A0909;
  text-align: center;
  margin: 0;
}
@media (min-width: 768px) {
  .title {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .title {
    font-size: 28px;
  }
}
@media (min-width: 1880px) {
  .title {
    font-size: 48px;
  }
}
.play-button {
  font-weight: 500;
  font-size: 7px;
  line-height: 158.47%;
  color: #FFFFFF;
  padding: 7px 9px;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 200px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.play-button::before {
  content: "";
  width: 20px;
  height: 20px;
  margin-right: 4px;
  background-color: transparent;
  background-image: url("../img/play-btn.svg");
  background-size: 100% 100%;
  border-radius: 50%;
  display: block;
}
@media (min-width: 1200px) {
  .play-button {
    font-size: 14px;
    line-height: 20px;
    padding: 15px 30px;
  }
  .play-button::before {
    width: 40px;
    height: 37px;
    margin-right: 21px;
  }
}
@media (min-width: 1880px) {
  .play-button {
    font-size: 16px;
    line-height: 25px;
    padding: 22px 40px;
  }
  .play-button::before {
    width: 60px;
    height: 55px;
    margin-right: 21px;
  }
}
.logo {
  color: #5A0909;
  text-align: center;
  text-decoration: none;
  display: grid;
  grid-template-columns: max-content 105px;
  grid-template-rows: min-content min-content;
  grid-template-areas: "image title" "image text";
  grid-column-gap: 0;
}
.logo picture {
  grid-area: image;
}
@media (min-width: 1200px) {
  .logo {
    font-size: 28px;
  }
  .logo--index {
    color: #FFFFFF;
  }
}
@media (min-width: 1880px) {
  .logo {
    grid-template-columns: max-content min-content;
    grid-column-gap: 15px;
  }
}
.logo__image {
  width: 45px;
  height: 45px;
  align-self: center;
}
@media (min-width: 1880px) {
  .logo__image {
    width: 54px;
    height: 100px;
  }
}
.logo__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 146.28%;
  margin: 0;
  grid-area: title;
  align-self: end;
}
@media (min-width: 1880px) {
  .logo__title {
    font-size: 38px;
  }
}
.logo__text {
  font-weight: 200;
  font-size: 7px;
  line-height: 100%;
  margin: 0;
  grid-area: text;
}
@media (min-width: 1880px) {
  .logo__text {
    font-size: 10px;
  }
}
.social {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}
.social__item {
  margin-right: 8px;
}
.social__item:nth-child(4) {
  margin-right: 0;
}
.footer-social {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.footer-social__item {
  width: 10px;
  height: 10px;
  margin-bottom: 4px;
  margin-right: 0;
}
@media (min-width: 768px) {
  .footer-social__item {
    width: 15px;
    height: 15px;
  }
}
@media (min-width: 1200px) {
  .footer-social__item {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
  }
}
@media (min-width: 1880px) {
  .footer-social__item {
    width: 51px;
    height: 51px;
    margin-bottom: 15px;
  }
}
.footer-social__image {
  width: 10px;
  height: 10px;
}
@media (min-width: 768px) {
  .footer-social__image {
    width: 15px;
    height: 15px;
  }
}
@media (min-width: 1200px) {
  .footer-social__image {
    width: 40px;
    height: 40px;
  }
}
@media (min-width: 1880px) {
  .footer-social__image {
    width: 51px;
    height: 51px;
  }
}
.contacts {
  list-style: none;
  width: 92px;
  padding: 0;
  margin: 0 35px 0 0;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1200px) {
  .contacts {
    margin: 10px 0 0;
    width: 240px;
  }
}
.contacts__item {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
}
@media (min-width: 1200px) {
  .contacts__item {
    display: revert;
    margin-bottom: 30px;
  }
}
.contacts__name {
  font-weight: 600;
  font-size: 7px;
  line-height: 9px;
  margin: 0;
}
@media (min-width: 768px) {
  .contacts__name {
    font-size: 11px;
    line-height: 14px;
  }
}
@media (min-width: 1200px) {
  .contacts__name {
    font-size: 24px;
    line-height: 30px;
    margin: 0 0 12px;
  }
}
@media (min-width: 1880px) {
  .contacts__name {
    font-size: 30px;
    line-height: 37px;
    margin: 0 0 17px;
  }
}
.contacts__text {
  font-weight: normal;
  font-size: 7px;
  line-height: 9px;
  text-decoration: none;
  color: #FFFFFF;
}
@media (min-width: 768px) {
  .contacts__text {
    font-size: 11px;
    line-height: 14px;
  }
}
@media (min-width: 1200px) {
  .contacts__text {
    font-size: 16px;
    line-height: 20px;
  }
}
@media (min-width: 1880px) {
  .contacts__text {
    font-size: 20px;
    line-height: 24px;
  }
}
.wrapper {
  width: 375px;
  margin: 0 auto;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .wrapper {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .wrapper {
    width: 1000px;
  }
}
@media (min-width: 1880px) {
  .wrapper {
    width: 1520px;
  }
}
.page-body {
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
  min-width: 375px;
  width: 100%;
  padding: 0;
  margin: 0 auto;
}
.page-body picture {
  margin-bottom: -5px;
}
@media (min-width: 1200px) {
  .page-body--index {
    display: grid;
    grid-template-rows: min-content auto min-content;
    grid-template-columns: 100%;
  }
}
.page-header {
  color: #5A0909;
  width: 100%;
  padding: 0 0 7px;
  background-color: #FFFFFF;
  border-bottom: 1px solid rgba(161, 161, 161, 0.5);
  box-sizing: border-box;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  z-index: 2;
}
@media (min-width: 1200px) {
  .page-header {
    padding: 0;
  }
  .page-header--index {
    color: #FFFFFF;
    background-color: transparent;
  }
}
.page-header__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .page-header__wrapper {
    padding: 0;
  }
}
@media (min-width: 1880px) {
  .page-header__wrapper {
    align-items: center;
  }
}
.page-header__social {
  margin-right: 110px;
  display: none;
}
@media (min-width: 1880px) {
  .page-header__social {
    display: flex;
  }
}
.page-header__contact {
  text-align: center;
  margin-top: 5px;
}
@media (min-width: 1200px) {
  .page-header__contact {
    margin: 8px 0;
  }
}
@media (min-width: 1880px) {
  .page-header__contact {
    margin: 0;
  }
}
.page-header__phone {
  font-weight: 700;
  line-height: 146.28%;
  color: inherit;
  text-decoration: none;
  display: none;
}
@media (min-width: 768px) {
  .page-header__phone {
    display: revert;
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
  .page-header__phone {
    display: revert;
    font-size: 20px;
  }
}
@media (min-width: 1880px) {
  .page-header__phone {
    font-size: 24px;
  }
}
.page-header__text {
  font-weight: normal;
  font-size: 15px;
  line-height: 100%;
  margin: 0;
  display: none;
}
@media (min-width: 768px) {
  .page-header__text {
    display: revert;
    font-size: 10px;
  }
}
@media (min-width: 1200px) {
  .page-header__text {
    font-size: 12px;
  }
}
@media (min-width: 1880px) {
  .page-header__text {
    font-size: 15px;
  }
}
@media (min-width: 768px) {
  .page-header__call-btn {
    display: none;
  }
}
.main-nav {
  margin-right: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
@media (min-width: 768px) {
  .main-nav {
    margin-right: 140px;
  }
}
@media (min-width: 1200px) {
  .main-nav {
    margin-right: 20px;
    flex-grow: 1;
    align-items: normal;
  }
}
@media (min-width: 1880px) {
  .main-nav {
    margin-right: 110px;
  }
}
.main-nav__logo {
  margin-right: 0;
  margin-left: 50px;
}
@media (min-width: 768px) {
  .main-nav__logo {
    margin-left: 200px;
  }
}
@media (min-width: 1200px) {
  .main-nav__logo {
    margin-left: 50px;
    margin-right: 100px;
  }
}
@media (min-width: 1880px) {
  .main-nav__logo {
    margin-right: 90px;
    margin-left: 0;
  }
}
.main-nav__list {
  color: #E0E0E0;
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
}
.main-nav__list--index {
  color: #FFFFFF;
}
@media (min-width: 1200px) {
  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
  }
}
.main-nav__item {
  margin-right: 5px;
  display: flex;
  justify-content: center;
}
.main-nav__item--current {
  color: #5A0909;
  border-bottom: 2px solid #5A0909;
}
.main-nav__item--index {
  border-bottom: 2px solid #FFFFFF;
}
@media (min-width: 1200px) {
  .main-nav__item {
    width: 77px;
    padding-top: 15px;
  }
}
@media (min-width: 1880px) {
  .main-nav__item {
    width: 107px;
    padding-top: 43px;
  }
}
.main-nav__link {
  font-weight: 500;
  text-decoration: none;
  color: inherit;
}
@media (min-width: 1200px) {
  .main-nav__link {
    font-size: 12px;
    line-height: 16px;
  }
}
@media (min-width: 1880px) {
  .main-nav__link {
    font-size: 16px;
    line-height: 20px;
  }
}
.main-nav__button {
  width: 36px;
  height: 16px;
  padding: 0;
  background-color: transparent;
  border: none;
  border-top: 4px solid #5A0909;
  border-bottom: 4px solid #5A0909;
  box-sizing: border-box;
  display: block;
  position: relative;
}
.main-nav__button::after {
  content: "";
  width: 36px;
  height: 4px;
  background-color: #5A0909;
  position: absolute;
  left: 0;
  top: 2px;
}
@media (min-width: 1200px) {
  .main-nav__button {
    display: none;
  }
}
.page-main {
  width: 100%;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
}
.banner {
  text-align: center;
  width: 100%;
  height: 377px;
  background-color: #C4C4C4;
  background-image: url("../img/banner-bg-mobile.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .banner {
    height: 358px;
    background-image: url("../img/banner-bg.jpg");
  }
}
@media (min-width: 1200px) {
  .banner {
    height: 562px;
  }
}
@media (min-width: 1880px) {
  .banner {
    height: 900px;
    background-size: 1920px 900px;
  }
}
.banner__text {
  font-weight: 500;
  font-size: 7px;
  line-height: 9px;
  max-width: 185px;
  margin: 30px 0 0;
}
@media (min-width: 768px) {
  .banner__text {
    font-size: 11px;
    line-height: 13px;
    max-width: 300px;
  }
}
@media (min-width: 1200px) {
  .banner__text {
    font-size: 16px;
    line-height: 20px;
    max-width: 100%;
  }
}
@media (min-width: 1880px) {
  .banner__text {
    font-size: 20px;
    line-height: 24px;
    margin: 0;
  }
}
.banner__caption {
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  margin: 0;
}
@media (min-width: 768px) {
  .banner__caption {
    font-weight: 600;
    font-size: 28px;
  }
}
@media (min-width: 1880px) {
  .banner__caption {
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
  }
}
.banner__button {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  padding: 5px 20px;
  margin-top: 8px;
}
@media (min-width: 768px) {
  .banner__button {
    padding: 8px 30px;
    margin-top: 15px;
  }
}
@media (min-width: 1880px) {
  .banner__button {
    padding: 13px 53px;
    margin-top: 30px;
  }
}
.about {
  text-align: start;
  width: 100%;
  padding: 35px 0 35px;
  background-color: #F6F6F8;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .about {
    padding: 60px 0 80px;
    position: relative;
  }
  .about::after {
    content: "";
    width: 60%;
    height: 1px;
    background-color: #E0E0E0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
  }
}
@media (min-width: 1200px) {
  .about::after {
    bottom: 60px;
  }
}
@media (min-width: 1880px) {
  .about {
    padding: 120px 0 202px;
  }
  .about::after {
    bottom: 118px;
  }
}
.about__wrapper {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content min-content min-content;
  grid-gap: 16px 18px;
}
@media (min-width: 768px) {
  .about__wrapper {
    grid-gap: 18px 100px;
  }
}
@media (min-width: 1200px) {
  .about__wrapper {
    grid-gap: 22px 140px;
  }
}
@media (min-width: 1880px) {
  .about__wrapper {
    grid-gap: 25px 240px;
  }
}
.about__image {
  width: 138px;
  height: 131px;
  align-self: center;
  grid-row-start: 1;
  grid-row-end: 4;
}
@media (min-width: 768px) {
  .about__image {
    width: 205px;
    height: 194px;
  }
}
@media (min-width: 1200px) {
  .about__image {
    width: 312px;
    height: 296px;
  }
}
@media (min-width: 1880px) {
  .about__image {
    width: 501px;
    height: 475px;
  }
}
.about__title {
  text-align: start;
  align-self: end;
  margin-bottom: 17px;
}
@media (min-width: 768px) {
  .about__title {
    margin-bottom: 0;
  }
}
@media (min-width: 1880px) {
  .about__title {
    margin-bottom: 0;
  }
}
.about__text {
  font-weight: normal;
  font-size: 7px;
  line-height: 158.47%;
  color: #999999;
  margin: 0;
}
.about__text--desktop {
  display: none;
}
@media (min-width: 768px) {
  .about__text {
    font-size: 10px;
  }
}
@media (min-width: 1200px) {
  .about__text {
    font-size: 16px;
  }
}
@media (min-width: 1880px) {
  .about__text {
    font-size: 20px;
  }
  .about__text--desktop {
    display: revert;
  }
}
.about__link {
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: #5A0909;
}
@media (min-width: 768px) {
  .about__link {
    font-size: 12px;
    line-height: 16px;
  }
}
@media (min-width: 1200px) {
  .about__link {
    font-size: 14px;
    line-height: 18px;
  }
}
@media (min-width: 1880px) {
  .about__link {
    font-size: 16px;
    line-height: 20px;
  }
}
.gallery {
  text-align: center;
  padding: 40px 0 35px;
  box-sizing: border-box;
  position: relative;
}
@media (min-width: 1200px) {
  .gallery {
    padding: 150px 0 230px;
  }
  .gallery::after {
    content: "";
    width: 60%;
    height: 1px;
    background-color: #E0E0E0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 60px;
  }
}
@media (min-width: 1880px) {
  .gallery {
    padding: 195px 0 291px;
  }
  .gallery::after {
    bottom: 87px;
  }
}
.gallery__slider {
  padding: 0 60px;
  margin: 35px 0 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) {
  .gallery__slider {
    padding: 0;
  }
}
@media (min-width: 1200px) {
  .gallery__slider {
    margin: 40px 0 0;
  }
}
@media (min-width: 1880px) {
  .gallery__slider {
    margin: 45px 0 0;
  }
}
.gallery__nav {
  color: #5A0909;
  width: 20px;
  height: 20px;
  padding: 0;
  margin-bottom: 50px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.gallery__nav svg {
  width: 100%;
  height: 100%;
}
.gallery__nav--next {
  transform: rotate(180deg);
}
@media (min-width: 768px) {
  .gallery__nav {
    width: 25px;
    height: 50px;
  }
}
@media (min-width: 1200px) {
  .gallery__nav {
    width: 40px;
    height: 80px;
    margin-bottom: 0;
  }
}
@media (min-width: 1880px) {
  .gallery__nav {
    width: 49px;
    height: 90px;
  }
}
.gallery__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  overflow: hidden;
}
@media (min-width: 1200px) {
  .gallery__list {
    margin: 0 30px;
  }
}
.gallery__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 29px 0 21px;
}
.gallery__item:nth-child(3n) {
  margin-right: 0;
}
@media (min-width: 768px) {
  .gallery__item {
    margin: 0 30px 0 0;
  }
}
@media (min-width: 1200px) {
  .gallery__item {
    margin: 0 40px 0 0;
  }
}
@media (min-width: 1880px) {
  .gallery__item {
    margin: 0 122px 0 0;
  }
}
.gallery__image {
  width: 165px;
  height: 192px;
}
@media (min-width: 1200px) {
  .gallery__image {
    width: 213px;
    height: 248px;
  }
}
@media (min-width: 1880px) {
  .gallery__image {
    width: 354px;
    height: 413px;
  }
}
.gallery__button {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  width: 142px;
  padding: 8px 0;
  margin-top: 18px;
}
@media (min-width: 1200px) {
  .gallery__button {
    font-size: 20px;
    line-height: 24px;
    width: 175px;
    padding: 10px 0;
  }
}
.making {
  color: #FFFFFF;
  text-align: center;
  padding: 45px 0 30px;
  background-color: #5A0909;
}
@media (min-width: 768px) {
  .making {
    padding: 45px 0;
  }
}
@media (min-width: 1200px) {
  .making {
    background-color: transparent;
    background-image: linear-gradient(#5A0909 0%, #5A0909 100%);
    background-repeat: no-repeat;
    background-size: 100% 400px;
  }
}
@media (min-width: 1880px) {
  .making {
    padding: 50px 0;
    background-size: 100% 570px;
  }
}
.making__title {
  color: #FFFFFF;
  display: none;
}
@media (min-width: 1200px) {
  .making__title {
    display: revert;
  }
}
.making__text {
  margin: 0;
  display: none;
}
@media (min-width: 1200px) {
  .making__text {
    display: revert;
  }
}
.making__slider {
  margin-top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 1200px) {
  .making__slider {
    margin-top: 70px;
  }
}
.making__nav {
  color: #FFFFFF;
  width: 15px;
  height: 15px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.making__nav svg {
  width: 100%;
  height: 100%;
}
.making__nav--next {
  transform: rotate(180deg);
}
@media (min-width: 768px) {
  .making__nav {
    width: 25px;
    height: 50px;
  }
}
@media (min-width: 1200px) {
  .making__nav {
    width: 40px;
    height: 80px;
  }
}
@media (min-width: 1880px) {
  .making__nav {
    width: 49px;
    height: 90px;
  }
}
.making__list {
  list-style: none;
  padding: 0;
  margin: 0 16px;
  display: flex;
  justify-content: center;
  position: relative;
  flex-grow: 1;
}
@media (min-width: 1200px) {
  .making__list {
    margin: 0 70px;
  }
}
@media (min-width: 1880px) {
  .making__list {
    margin: 0 100px;
  }
}
.making__item {
  display: none;
}
.making__item:nth-child(4) {
  display: revert;
  position: static;
  transform: translateY(0);
}
.making__item:nth-child(4) .making__preview {
  width: 216px;
  height: 103px;
}
.making__item:nth-child(4) .making__button {
  display: flex;
}
@media (min-width: 768px) {
  .making__item:nth-child(2) {
    display: revert;
    position: absolute;
    left: 34px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
  }
  .making__item:nth-child(2) .making__preview {
    width: 154px;
    height: 142px;
    object-fit: contain;
  }
  .making__item:nth-child(2) .making__button {
    display: none;
  }
  .making__item:nth-child(3) {
    display: revert;
    position: relative;
    z-index: 3;
  }
  .making__item:nth-child(3) .making__preview {
    width: 375px;
    height: 166px;
    object-fit: contain;
  }
  .making__item:nth-child(4) {
    display: revert;
    position: absolute;
    right: 34px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
  }
  .making__item:nth-child(4) .making__preview {
    width: 154px;
    height: 142px;
    object-fit: contain;
  }
  .making__item:nth-child(4) .making__button {
    display: none;
  }
}
@media (min-width: 1200px) {
  .making__item:nth-child(1) {
    display: revert;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .making__item:nth-child(1) .making__preview {
    width: 154px;
    height: 142px;
    object-fit: contain;
  }
  .making__item:nth-child(1) .making__button {
    display: none;
  }
  .making__item:nth-child(2) {
    left: 40px;
  }
  .making__item:nth-child(2) .making__preview {
    width: 214px;
    height: 197px;
  }
  .making__item:nth-child(3) {
    z-index: 3;
  }
  .making__item:nth-child(3) .making__preview {
    width: 675px;
    height: 299px;
  }
  .making__item:nth-child(4) {
    right: 40px;
  }
  .making__item:nth-child(4) .making__preview {
    width: 214px;
    height: 197px;
  }
  .making__item:nth-child(5) {
    display: revert;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .making__item:nth-child(5) .making__preview {
    width: 154px;
    height: 142px;
    object-fit: contain;
  }
  .making__item:nth-child(5) .making__button {
    display: none;
  }
}
@media (min-width: 1880px) {
  .making__item:nth-child(1) .making__preview {
    width: 259px;
    height: 239px;
    object-fit: none;
  }
  .making__item:nth-child(2) .making__preview {
    width: 321px;
    height: 305px;
    object-fit: none;
  }
  .making__item:nth-child(3) .making__preview {
    width: 970px;
    height: 430px;
    object-fit: none;
  }
  .making__item:nth-child(4) .making__preview {
    width: 321px;
    height: 305px;
    object-fit: none;
  }
  .making__item:nth-child(5) .making__preview {
    width: 259px;
    height: 239px;
    object-fit: none;
  }
}
.making__button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.blog {
  color: #FFFFFF;
  text-align: center;
  width: 100%;
  padding: 22px 0 24px;
  margin-top: 0;
  background-color: transparent;
  box-sizing: border-box;
}
@media (min-width: 1200px) {
  .blog {
    padding: 0;
    margin-top: 100px;
    background-color: transparent;
    background-image: linear-gradient(#5A0909 0%, #5A0909 100%);
    background-repeat: no-repeat;
    background-size: 100% 350px;
  }
}
@media (min-width: 1880px) {
  .blog {
    margin-top: 215px;
    background-size: 100% 415px;
  }
}
.blog__wrapper {
  width: 142px;
}
@media (min-width: 768px) {
  .blog__wrapper {
    width: 768px;
    display: flex;
    flex-wrap: wrap;
  }
}
@media (min-width: 1200px) {
  .blog__wrapper {
    width: 1000px;
  }
}
@media (min-width: 1880px) {
  .blog__wrapper {
    width: 1520px;
  }
}
.blog__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 146.28%;
  color: #5A0909;
  margin-top: 0;
}
@media (min-width: 768px) {
  .blog__title {
    min-width: 40%;
    margin: 0 auto;
    font-size: 24px;
  }
}
@media (min-width: 1200px) {
  .blog__title {
    font-size: 28px;
    color: #FFFFFF;
    margin-top: 35px;
    flex-grow: 1;
  }
}
@media (min-width: 1880px) {
  .blog__title {
    font-size: 48px;
  }
}
.blog__text {
  font-weight: 400;
  line-height: 158.47%;
  text-align: start;
  display: none;
}
@media (min-width: 1200px) {
  .blog__text {
    display: revert;
    font-size: 16px;
    width: 550px;
    margin: 55px 0 0;
  }
}
@media (min-width: 1880px) {
  .blog__text {
    font-size: 20px;
    width: 750px;
    margin: 55px 135px 0 0;
  }
}
.blog__slider {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 1200px) {
  .blog__slider {
    margin: 50px 0 0;
  }
}
@media (min-width: 1880px) {
  .blog__slider {
    margin: 72px 0 0;
  }
}
.blog__nav {
  color: #5A0909;
  padding: 0;
  background-color: transparent;
  border: none;
  display: none;
  cursor: pointer;
}
.blog__nav svg {
  width: 100%;
  height: 100%;
}
.blog__nav--next {
  transform: rotate(180deg);
}
@media (min-width: 768px) {
  .blog__nav {
    width: 25px;
    height: 50px;
    display: revert;
  }
}
@media (min-width: 1200px) {
  .blog__nav {
    width: 40px;
    height: 80px;
  }
}
@media (min-width: 1880px) {
  .blog__nav {
    width: 49px;
    height: 90px;
  }
}
.blog__list {
  list-style: none;
  padding: 0;
  margin: 24px 0 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .blog__list {
    margin: 24px 40px 0;
    flex-direction: row;
    align-items: normal;
  }
}
@media (min-width: 1200px) {
  .blog__list {
    margin: 0 75px;
  }
}
@media (min-width: 1880px) {
  .blog__list {
    margin: 0 105px;
  }
}
.blog__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blog__item:nth-child(3n) {
  display: none;
}
@media (min-width: 768px) {
  .blog__item:nth-child(3n) {
    display: flex;
    margin-right: 0;
  }
}
.blog__image {
  width: 118px;
  height: 102px;
  border-radius: 38px;
}
@media (min-width: 768px) {
  .blog__image {
    width: 124px;
    height: 107px;
    border-radius: 18px;
  }
}
@media (min-width: 1200px) {
  .blog__image {
    width: 164px;
    height: 141px;
    border-radius: 0;
  }
}
@media (min-width: 1880px) {
  .blog__image {
    width: 283px;
    height: 244px;
  }
}
.blog__link {
  font-weight: 500;
  font-size: 9px;
  line-height: 11px;
  color: #5A0909;
  margin: 8px 0 29px;
}
@media (min-width: 1880px) {
  .blog__link {
    font-size: 20px;
    line-height: 24px;
    margin: 32px 0 29px;
  }
}
.blog__button {
  font-weight: 500;
  font-size: 9px;
  line-height: 11px;
  text-decoration: none;
  padding: 8px 20px;
}
@media (min-width: 768px) {
  .blog__button {
    display: none;
  }
}
.delivery {
  text-align: center;
  width: 100%;
  padding: 13px 0 33px;
  margin-top: 0;
  background-color: #F6F6F8;
  box-sizing: border-box;
  position: relative;
}
@media (min-width: 768px) {
  .delivery {
    padding: 13px 0 33px;
  }
  .delivery::after {
    content: "";
    width: 60%;
    height: 1px;
    background-color: #E0E0E0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 15px;
  }
}
@media (min-width: 1200px) {
  .delivery {
    padding: 80px 0 100px;
    margin-top: 70px;
  }
  .delivery::before {
    content: "";
    width: 60%;
    height: 1px;
    background-color: #E0E0E0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 30px;
  }
  .delivery::after {
    bottom: 40px;
  }
}
@media (min-width: 1880px) {
  .delivery {
    padding: 84px 127px;
    margin-top: 115px;
  }
  .delivery::before {
    top: 40px;
  }
  .delivery::after {
    bottom: 51px;
  }
}
.delivery__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 146.28%;
}
@media (min-width: 768px) {
  .delivery__title {
    font-size: 28px;
  }
}
@media (min-width: 1200px) {
  .delivery__title {
    font-size: 38px;
  }
}
@media (min-width: 1880px) {
  .delivery__title {
    font-size: 48px;
  }
}
.delivery__list {
  list-style: none;
  width: min-content;
  padding: 0;
  margin: 15px auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .delivery__list {
    font-size: 28px;
    margin-top: 15px;
  }
}
@media (min-width: 1200px) {
  .delivery__list {
    width: max-content;
    margin-top: 25px;
  }
}
@media (min-width: 1880px) {
  .delivery__list {
    margin-top: 30px;
  }
}
.delivery__item {
  text-align: start;
  margin-right: 25px;
  display: grid;
  grid-template-columns: max-content max-content;
  grid-template-rows: min-content min-content;
  grid-template-areas: "image title" "image text";
  grid-column-gap: 33px;
}
.delivery__item:nth-child(3n) {
  margin-right: 0;
}
@media (min-width: 1200px) {
  .delivery__item {
    width: 275px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 1880px) {
  .delivery__item {
    width: 350px;
  }
}
.delivery__image {
  width: 29px;
  height: 29px;
  object-fit: contain;
  margin-bottom: 0;
  grid-area: image;
}
@media (min-width: 1200px) {
  .delivery__image {
    width: 75px;
    height: 75px;
    margin-bottom: 35px;
  }
}
@media (min-width: 1880px) {
  .delivery__image {
    width: 92px;
    height: 92px;
    object-fit: none;
    margin-bottom: 55px;
  }
}
.delivery__name {
  font-weight: 600;
  font-size: 9px;
  line-height: 11px;
  color: #000000;
  width: 100%;
  margin: 0;
  grid-area: title;
}
@media (min-width: 768px) {
  .delivery__name {
    font-size: 14px;
    line-height: 17px;
  }
}
@media (min-width: 1200px) {
  .delivery__name {
    font-size: 18px;
    line-height: 22px;
  }
}
@media (min-width: 1880px) {
  .delivery__name {
    font-size: 20px;
    line-height: 24px;
  }
}
.delivery__number {
  color: #5A0909;
}
.delivery__description {
  font-weight: 400;
  font-size: 7px;
  line-height: 158.47%;
  color: #999999;
  grid-area: text;
}
.delivery__description--desktop {
  display: none;
}
@media (min-width: 768px) {
  .delivery__description {
    font-size: 11px;
  }
}
@media (min-width: 1200px) {
  .delivery__description {
    font-size: 16px;
  }
  .delivery__description--desktop {
    display: revert;
  }
}
@media (min-width: 1880px) {
  .delivery__description {
    font-size: 20px;
  }
}
.delivery__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #5A0909;
  width: 100%;
  margin-top: 12px;
  display: none;
}
@media (min-width: 1200px) {
  .delivery__link {
    display: revert;
  }
}
.delivery__button {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  padding: 3px 32px;
  margin: 22px auto 0;
}
@media (min-width: 1200px) {
  .delivery__button {
    display: none;
  }
}
.page-footer {
  width: 100%;
  padding: 11px 110px 7px;
  background-color: #5A0909;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .page-footer {
    padding: 15px 200px 15px;
  }
}
@media (min-width: 1200px) {
  .page-footer {
    padding: 55px 120px 15px;
  }
}
@media (min-width: 1880px) {
  .page-footer {
    padding: 85px 160px 35px;
  }
}
.page-footer__title {
  font-weight: 600;
  color: #FFFFFF;
  margin: 0 auto;
  display: none;
}
@media (min-width: 1200px) {
  .page-footer__title {
    display: revert;
  }
}
.page-footer__wrapper {
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
}
@media (min-width: 1200px) {
  .page-footer__wrapper {
    margin: 42px 0 50px;
  }
}
@media (min-width: 1880px) {
  .page-footer__wrapper {
    margin: 62px 0 93px;
  }
}
.page-footer__contacts-wrapper {
  margin: 0;
  display: flex;
  flex-wrap: nowrap;
}
@media (min-width: 768px) {
  .page-footer__contacts-wrapper {
    margin: 0 45px 0 0;
  }
}
@media (min-width: 1200px) {
  .page-footer__contacts-wrapper {
    margin: 0 80px 0 0;
  }
}
@media (min-width: 1880px) {
  .page-footer__contacts-wrapper {
    margin: 0 175px 0 200px;
    flex-wrap: wrap;
  }
}
.page-footer__map {
  display: none;
}
@media (min-width: 768px) {
  .page-footer__map {
    display: revert;
  }
  .page-footer__map img {
    width: 179px;
    height: 83px;
  }
}
@media (min-width: 1200px) {
  .page-footer__map img {
    width: 666px;
    height: 310px;
  }
}
@media (min-width: 1880px) {
  .page-footer__map img {
    width: 854px;
    height: 397px;
  }
}
.page-footer__button {
  font-weight: 400;
  font-size: 30px;
  line-height: 32px;
  color: #5A0909;
  padding: 13px 0;
  margin-top: 20px;
  background-color: #FFFFFF;
  flex-grow: 1;
  display: none;
}
@media (min-width: 1880px) {
  .page-footer__button {
    display: revert;
  }
}
.page-footer__copyright {
  font-weight: 400;
  font-size: 5px;
  line-height: 158.47%;
  color: #999999;
  text-align: center;
  margin: 13px auto 0;
  flex-basis: 100%;
}
@media (min-width: 768px) {
  .page-footer__copyright {
    font-size: 7px;
  }
}
@media (min-width: 1200px) {
  .page-footer__copyright {
    font-size: 11px;
    line-height: 16px;
    margin: 0 auto;
  }
}
@media (min-width: 1880px) {
  .page-footer__copyright {
    font-size: 13px;
    line-height: 21px;
  }
}
.main-header {
  padding: 19px 0 40px;
  margin-bottom: 0;
  background-color: #F6F6F8;
  position: relative;
}
.main-header--article {
  margin-bottom: 184px;
}
@media (min-width: 768px) {
  .main-header {
    padding: 30px 0 45px;
  }
  .main-header::after {
    content: "";
    width: 60%;
    height: 1px;
    background-color: #E0E0E0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 15px;
  }
}
@media (min-width: 1200px) {
  .main-header {
    padding: 40px 0 70px;
  }
  .main-header::after {
    bottom: 40px;
  }
  .main-header--article {
    margin-bottom: 0;
  }
}
@media (min-width: 1880px) {
  .main-header {
    padding: 75px 0 93px;
  }
  .main-header::after {
    bottom: 45px;
  }
  .main-header--article {
    padding-top: 55px;
  }
}
.main-header__wrapper {
  display: flex;
  flex-wrap: wrap;
}
.main-header__breadcrumbs {
  position: absolute;
  top: 57px;
  left: 80px;
}
.main-header__image {
  width: 152px;
  height: 131px;
  margin: 0;
  position: absolute;
  bottom: -150px;
  left: 50%;
  transform: translateX(-50%);
}
@media (min-width: 1200px) {
  .main-header__image {
    width: 194px;
    height: 167px;
    margin: 0 150px 0 60px;
    position: static;
    transform: translateX(0);
  }
}
@media (min-width: 1880px) {
  .main-header__image {
    width: 283px;
    height: 244px;
    margin: 0 0 0 280px;
  }
}
.main-header__title {
  font-size: 20px;
  margin: 0 auto 13px;
}
@media (min-width: 768px) {
  .main-header__title {
    font-size: 28px;
    margin: 0 auto 20px;
  }
}
@media (min-width: 1200px) {
  .main-header__title {
    font-size: 48px;
    margin: 0 auto 40px;
  }
  .main-header__title--article {
    font-size: 32px;
    line-height: 45px;
    margin-top: 50px;
  }
}
@media (min-width: 1880px) {
  .main-header__title {
    font-size: 64px;
    margin: 0 auto 75px;
  }
  .main-header__title--article {
    font-size: 36px;
    line-height: 53px;
    margin-top: 68px;
  }
}
.main-header__search {
  font-size: 5px;
  width: 226px;
  height: 16px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .main-header__search {
    font-size: 9px;
    width: 450px;
    height: auto;
  }
}
@media (min-width: 1200px) {
  .main-header__search {
    font-size: 14px;
    width: 700px;
  }
}
@media (min-width: 1880px) {
  .main-header__search {
    font-size: 18px;
    width: 854px;
  }
}
.breadcrumbs {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  display: none;
}
@media (min-width: 1880px) {
  .breadcrumbs {
    display: flex;
  }
}
.breadcrumbs__item {
  margin-right: 13px;
  display: flex;
  align-items: center;
}
.breadcrumbs__item::after {
  content: "";
  width: 6px;
  height: 6px;
  margin-left: 13px;
  background-color: #5A0909;
  border-radius: 50%;
}
.breadcrumbs__item:last-child {
  margin-right: 0;
}
.breadcrumbs__item:last-child::after {
  display: none;
}
.breadcrumbs__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #999999;
  text-decoration: none;
}
.breadcrumbs__link--current {
  color: #5A0909;
  text-decoration: underline;
}
.search {
  position: relative;
}
.search::after {
  content: "";
  width: 6px;
  height: 6px;
  background-color: transparent;
  background-image: url("../img/icon-search-mobile.png");
  background-repeat: no-repeat;
  position: absolute;
  right: 3px;
  top: 50%;
  transform: translateY(-50%);
}
@media (min-width: 768px) {
  .search::after {
    width: 10px;
    height: 10px;
    background-image: url("../img/icon-search.png");
    background-size: 100%;
    right: 10px;
  }
}
@media (min-width: 1200px) {
  .search::after {
    width: 15px;
    height: 15px;
    right: 20px;
  }
}
@media (min-width: 1880px) {
  .search::after {
    width: 23px;
    height: 23px;
    right: 38px;
  }
}
.search__input {
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-weight: 600;
  font-size: 5px;
  line-height: 146.28%;
  width: 100%;
  padding: 4px 0 5px 8px;
  background: #F0EFEF;
  box-sizing: border-box;
  border: none;
  border-radius: 7px;
}
@media (min-width: 768px) {
  .search__input {
    font-size: 9px;
    padding: 6px 0 7px 10px;
  }
}
@media (min-width: 1200px) {
  .search__input {
    font-size: 14px;
    padding: 13px 0 13px 13px;
  }
}
@media (min-width: 1880px) {
  .search__input {
    font-size: 18px;
    padding: 16px 0 16px 16px;
  }
}
.news {
  padding: 25px 0 27px;
  position: relative;
}
@media (min-width: 768px) {
  .news {
    padding: 25px 0 27px;
  }
  .news::after {
    content: "";
    width: 60%;
    height: 1px;
    background-color: #E0E0E0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 50px;
  }
}
@media (min-width: 1200px) {
  .news {
    padding: 70px 0 75px;
  }
  .news::after {
    bottom: 75px;
  }
}
@media (min-width: 1880px) {
  .news {
    padding: 88px 30px 97px;
  }
  .news::after {
    bottom: 106px;
  }
}
.news__wrapper {
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 1200px) {
  .news__wrapper {
    width: 1200px;
  }
}
@media (min-width: 1880px) {
  .news__wrapper {
    width: 100%;
  }
}
.news__card {
  text-align: center;
  margin: 0 auto 30px;
}
.news__card:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .news__card {
    margin-bottom: 40px;
  }
}
@media (min-width: 1200px) {
  .news__card {
    margin-bottom: 70px;
  }
}
@media (min-width: 1880px) {
  .news__card {
    margin: 0 auto 91px;
  }
}
.news__image {
  width: 239px;
  height: 156px;
  border-radius: 29px;
}
@media (min-width: 768px) {
  .news__image {
    width: 294px;
    height: 192px;
    border-radius: 9px;
  }
}
@media (min-width: 1200px) {
  .news__image {
    width: 322px;
    height: 211px;
    border-radius: 0;
  }
}
@media (min-width: 1880px) {
  .news__image {
    width: 535px;
    height: 350px;
  }
}
.news__caption {
  font-weight: 600;
  font-size: 9px;
  line-height: 11px;
  color: #5A0909;
  width: 150px;
  margin: 20px auto 0;
}
@media (min-width: 768px) {
  .news__caption {
    font-size: 12px;
    line-height: 14px;
  }
}
@media (min-width: 1200px) {
  .news__caption {
    font-size: 18px;
    line-height: 22px;
    width: 335px;
    margin: 45px auto 0;
  }
}
@media (min-width: 1880px) {
  .news__caption {
    font-size: 20px;
    line-height: 24px;
    margin: 57px auto 0;
  }
}
.news__text {
  font-weight: 400;
  font-size: 7px;
  line-height: 158.47%;
  color: #999999;
  width: 150px;
  margin: 11px auto 0;
}
@media (min-width: 768px) {
  .news__text {
    font-size: 10px;
    width: 250px;
  }
}
@media (min-width: 1200px) {
  .news__text {
    font-size: 12px;
    width: 335px;
    margin: 8px auto 15px;
  }
}
@media (min-width: 1880px) {
  .news__text {
    font-size: 15px;
  }
}
.news__link {
  font-weight: 500;
  font-size: 7px;
  line-height: 9px;
  color: #5A0909;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .news__link {
    font-size: 10px;
    line-height: 12px;
  }
}
@media (min-width: 1200px) {
  .news__link {
    font-size: 14px;
    line-height: 18px;
  }
}
@media (min-width: 1880px) {
  .news__link {
    font-size: 16px;
    line-height: 20px;
  }
}
.news__button {
  font-weight: 600;
  font-size: 10px;
  line-height: 146.28%;
  width: 220px;
  padding: 10px 0;
  margin: 0 auto 38px;
  border-radius: 11px;
  display: block;
}
@media (min-width: 768px) {
  .news__button {
    display: none;
  }
}
.article {
  padding: 25px 0 27px;
  position: relative;
}
@media (min-width: 768px) {
  .article {
    padding: 25px 0 70px;
  }
  .article::after {
    content: "";
    width: 60%;
    height: 1px;
    background-color: #E0E0E0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 25px;
  }
}
@media (min-width: 1200px) {
  .article {
    padding: 50px 0 150px;
  }
  .article::after {
    bottom: 75px;
  }
}
@media (min-width: 1880px) {
  .article {
    padding: 67px 0 163px;
  }
  .article::after {
    bottom: 105px;
  }
}
.article__video {
  width: min-content;
  margin: 50px auto 75px;
  position: relative;
  border-radius: 33px;
}
@media (min-width: 768px) {
  .article__video {
    margin: 0 auto 50px;
  }
}
@media (min-width: 1880px) {
  .article__video {
    border-radius: 0;
  }
}
.article__text {
  font-weight: normal;
  font-size: 9px;
  line-height: 158.47%;
  color: #000000;
  margin: 0 0 25px;
}
@media (min-width: 768px) {
  .article__text {
    font-size: 12px;
  }
}
@media (min-width: 1200px) {
  .article__text {
    font-size: 16px;
  }
}
@media (min-width: 1880px) {
  .article__text {
    font-size: 20px;
  }
}
.article__preview {
  width: 259px;
  height: 115px;
  object-fit: cover;
  border-radius: 33px;
}
@media (min-width: 768px) {
  .article__preview {
    width: 418px;
    height: 185px;
    border-radius: 14px;
  }
}
@media (min-width: 1200px) {
  .article__preview {
    width: 765px;
    height: 339px;
    border-radius: 0;
  }
}
@media (min-width: 1880px) {
  .article__preview {
    width: 970px;
    height: 430px;
    object-fit: none;
  }
}
.article__play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.article__button {
  font-weight: 400;
  font-size: 9px;
  line-height: 100%;
  text-decoration: none;
  width: min-content;
  padding: 6px 28px;
  margin: 0 auto 0;
  border-radius: 14px;
  display: block;
}
@media (min-width: 768px) {
  .article__button {
    font-size: 14px;
    padding: 8px 35px;
    margin-top: 40px;
  }
}
@media (min-width: 1200px) {
  .article__button {
    font-size: 24px;
    padding: 12px 100px;
    margin-top: 100px;
  }
}
@media (min-width: 1880px) {
  .article__button {
    font-size: 36px;
    padding: 12px 135px;
    margin-top: 150px;
  }
}
.modal {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.55);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
.modal--close {
  display: none;
}
.modal__window {
  width: 375px;
  height: auto;
  background-color: #FFFFFF;
  border-radius: 10px;
  z-index: 2;
}
@media (min-width: 768px) {
  .modal__window {
    width: 680px;
    height: 320px;
    border-radius: 30px;
  }
}
@media (min-width: 1200px) {
  .modal__window {
    width: 1000px;
    height: 500px;
    border-radius: 45px;
  }
}
@media (min-width: 1880px) {
  .modal__window {
    width: 1307px;
    height: 614px;
    border-radius: 59px;
  }
}
.modal__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.modal__text {
  font-weight: 400;
  font-size: 6px;
  line-height: 158.47%;
  color: #5A0909;
  margin: 0;
}
@media (min-width: 768px) {
  .modal__text {
    font-size: 10px;
  }
}
@media (min-width: 1200px) {
  .modal__text {
    font-size: 16px;
  }
}
@media (min-width: 1880px) {
  .modal__text {
    font-size: 20px;
  }
}
.feedback {
  text-align: center;
  padding: 40px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .feedback {
    text-align: start;
    padding: 15px 20px 12px 70px;
  }
}
@media (min-width: 1200px) {
  .feedback {
    padding: 40px 70px 16px 100px;
  }
}
@media (min-width: 1880px) {
  .feedback {
    padding: 45px 75px 20px 170px;
  }
}
.feedback__caption {
  font-weight: 600;
  font-size: 14px;
  line-height: 158.47%;
  color: #000000;
  margin: 0;
  flex-basis: 100%;
}
@media (min-width: 768px) {
  .feedback__caption {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .feedback__caption {
    font-size: 36px;
  }
}
@media (min-width: 1880px) {
  .feedback__caption {
    font-size: 48px;
  }
}
.feedback__text {
  flex-basis: 100%;
}
.feedback__form {
  width: 295px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .feedback__form {
    width: 250px;
    margin-top: 0;
    margin-right: 20px;
  }
}
@media (min-width: 1200px) {
  .feedback__form {
    width: 320px;
    margin-right: 50px;
  }
}
@media (min-width: 1880px) {
  .feedback__form {
    width: 400px;
    margin-right: 90px;
  }
}
.feedback__input {
  font-family: Montserrat, Arial, sans-serif;
  font-weight: 400;
  font-size: 6px;
  color: #C4C4C4;
  width: 100%;
  padding: 4px 0 4px 5px;
  margin-bottom: 15px;
  border: 1px solid #5A0909;
  box-sizing: border-box;
  border-radius: 3px;
}
.feedback__input--textarea {
  flex-grow: 1;
  resize: none;
}
@media (min-width: 768px) {
  .feedback__input {
    border-radius: 10px;
    font-size: 10px;
    line-height: 14px;
    padding: 5px 0 5px 8px;
  }
}
@media (min-width: 1200px) {
  .feedback__input {
    border-radius: 17px;
    font-size: 16px;
    line-height: 20px;
    padding: 10px 0 10px 15px;
  }
}
@media (min-width: 1880px) {
  .feedback__input {
    font-size: 20px;
    line-height: 24px;
    padding: 15px 0 15px 20px;
  }
}
.feedback__submit {
  font-weight: 600;
  font-size: 6px;
  line-height: 158.47%;
  padding: 5px 0;
  margin: 0;
}
@media (min-width: 768px) {
  .feedback__submit {
    font-size: 10px;
    padding: 8px 0;
    margin-top: 10px;
  }
}
@media (min-width: 1200px) {
  .feedback__submit {
    font-size: 16px;
    padding: 12px 0;
    margin-top: 16px;
  }
}
@media (min-width: 1880px) {
  .feedback__submit {
    font-size: 20px;
    padding: 16px 0;
    margin-top: 25px;
  }
}
.feedback__image {
  display: none;
}
@media (min-width: 768px) {
  .feedback__image {
    display: revert;
    width: 278px;
    height: 215px;
  }
}
@media (min-width: 1200px) {
  .feedback__image {
    width: 427px;
    height: 331px;
  }
}
@media (min-width: 1880px) {
  .feedback__image {
    width: 563px;
    height: 436px;
  }
}
.success {
  padding: 70px 0;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .success {
    padding: 35px 0;
  }
}
@media (min-width: 1200px) {
  .success {
    padding: 80px 0;
  }
}
@media (min-width: 1880px) {
  .success {
    padding: 75px 0 170px;
  }
}
.success__text {
  font-size: 14px;
  text-align: center;
  width: 250px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .success__text {
    font-size: 10px;
    width: 250px;
  }
}
@media (min-width: 1200px) {
  .success__text {
    font-size: 16px;
    width: 280px;
  }
}
@media (min-width: 1880px) {
  .success__text {
    font-size: 20px;
    width: 330px;
  }
}
.success__image {
  width: 310px;
  height: 183px;
  margin: 0 auto 30px;
  display: block;
}
@media (min-width: 768px) {
  .success__image {
    width: 293px;
    height: 173px;
  }
}
@media (min-width: 1200px) {
  .success__image {
    width: 304px;
    height: 180px;
  }
}
@media (min-width: 1880px) {
  .success__image {
    width: 419px;
    height: 248px;
  }
}
.video {
  font-weight: 400;
  font-size: 9px;
  line-height: 158.47%;
  color: #5A0909;
  padding: 20px 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .video {
    font-size: 12px;
    padding: 50px 40px;
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: repeat(4, min-content);
    grid-column-gap: 75px;
  }
}
@media (min-width: 1200px) {
  .video {
    font-size: 16px;
    padding: 90px 70px;
  }
}
@media (min-width: 1880px) {
  .video {
    font-size: 20px;
    padding: 95px 150px 95px 80px;
  }
}
.video__image {
  width: 331px;
  height: 259px;
}
@media (min-width: 768px) {
  .video__image {
    width: 248px;
    height: 194px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 5;
  }
}
@media (min-width: 1200px) {
  .video__image {
    width: 382px;
    height: 299px;
  }
}
@media (min-width: 1880px) {
  .video__image {
    width: 541px;
    height: 423px;
  }
}
.video__caption {
  font-weight: 700;
  font-size: 16px;
  line-height: 146.28%;
  margin: 0 0 0 10px;
}
@media (min-width: 768px) {
  .video__caption {
    font-size: 24px;
  }
}
@media (min-width: 1200px) {
  .video__caption {
    font-size: 36px;
  }
}
@media (min-width: 1880px) {
  .video__caption {
    font-size: 48px;
  }
}
.video__text {
  margin: 0 0 0 10px;
}
.video__list {
  display: grid;
  grid-template-columns: min-content max-content;
  grid-column-gap: 10px;
}
.video__term {
  font-weight: 600;
  margin: 0;
}
.video__definition {
  margin: 0;
}
.video__button {
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: #FFFFFF;
  width: min-content;
  padding: 3px 20px;
}
@media (min-width: 768px) {
  .video__button {
    font-size: 16px;
    line-height: 20px;
    padding: 5px 35px;
  }
}
@media (min-width: 1200px) {
  .video__button {
    font-size: 22px;
    line-height: 27px;
    padding: 7px 50px;
  }
}
@media (min-width: 1880px) {
  .video__button {
    font-size: 30px;
    line-height: 37px;
    padding: 9px 64px;
  }
}
