/* Global */

.page-body {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  width: 414px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: min-content auto;
  grid-template-columns: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  font: inherit;
  color: #000000;
  text-decoration: none;
}

p {
  margin: 0;
}

picture {
  margin-bottom: -5px;
}


.visually-hidden {  
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  font-weight: 700;
  font-size: 26px;
  line-height: 30px;
  text-align: center;
  margin: 0 auto;
}

.br--desktop {
  display: none;
}

@media (min-width: 1440px) {
  .page-body {
    font-size: 24px;
    line-height: 28px;
    width: 1440px;
  }

  .title {
    font-size: 48px;
    line-height: 56px;
  }

  .br--mobile {
    display: none;
  }

  .br--desktop {
    display: initial;
  }
}


/* Page header */

.page-header {
  width: 100%;
  padding: 10px;
  background-color: #FFFFFF;
  box-sizing: border-box;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  z-index: 2;
}

.page-header__logo {
  width: 76px;
  height: 40px;
}

@media (min-width: 1440px) {
  .page-header {
    padding: 25px 57px 25px 100px;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .page-header__logo {
    width: 154px;
    height: 81px;
  }
  
}


/* Main navigation */

.main-nav__list {
  display: none;
}

.main-nav__button {
  width: 34px;
  height: 23px;
  background-color: transparent;
  border: none;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  box-sizing: border-box;
  position: relative;
}

.main-nav__button::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #000000;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

@media (min-width: 1440px) {
  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
  }

  .main-nav__item {
    margin: 0 43px 21px 0;
  }


  .main-nav__button {
    display: none;
  }
}


/* Page main */

.page-main {
  width: 100%;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
}


/* Banner */

.banner {
  min-height: 528px;
  padding: 176px 10px 0;
  background-color: transparent;
  background-image: url("./img/banner-bg1-mobile.png"), url("./img/banner-bg2-mobile.svg"), url("./img/banner-bg3-mobile.png");
  background-repeat: no-repeat;
  box-sizing: border-box;
}

.banner__caption {
  font-weight: 700;
  font-size: 33px;
  line-height: 39px;
  margin: 0 0 23px;
}

.banner__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

@media (min-width: 1440px) {
  .banner {
    min-height: 925px;
    padding: 354px 100px 0;
    background-image: url("./img/banner-bg1-desktop.png"), url("./img/banner-bg2-desktop.svg"), url("./img/banner-bg3-desktop.png");
    background-position: top center, top center, center 275px;
  }
  
  .banner__caption {
    font-size: 63px;
    line-height: 74px;
    margin: 0;
  }

  .banner__title {
    margin-top: 32px;
  }
}


/* Benefits */

.benefits {
  width: 100%;
  padding: 0 10px;
  margin-top: -24px;
  box-sizing: border-box;
}

.benefits__list {
  margin-top: 34px;
  display: flex;
  flex-wrap: wrap;
}

.benefits__item {
  min-width: 394px;
  min-height: 120px;
  margin-bottom: 20px;
  background-color: #FFF3ED;
  border-radius: 30px;
  box-sizing: border-box;
  position: relative;
}

.benefits__text {
  text-align: center;
  width: 360px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.benefits__image {
  width: 394px;
  height: 240px;
  margin-top: 30px;
}

@media (min-width: 1440px) {
  .benefits {
    padding: 0 100px;
    margin-top: 0;
  }
  
  .benefits__list {
    margin-top: 48px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .benefits__item {
    padding: 30px;
    margin-right: 40px;
    margin-bottom: 40px;
    position: static;
    flex-grow: 1;
  }

  .benefits__item:nth-child(2n) {
    margin-right: 0;
  }
  
  .benefits__text {
    text-align: start;
    width: 540px;
    position: static;
    transform: translate(0, 0);
  }
  
  .benefits__image {
    width: 1240px;
    height: 425px;
    margin-top: 64px;
  }
}


/* Stages */

.stages {
  margin-top: 45px;
}

.stages__list {
  margin-top: 18px;
  display: flex;
  flex-wrap: wrap;
}

.stages__item {
  margin: 0 10px 30px 19px;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: 1fr min-content;
  grid-template-areas: "num name" "num desc";
  grid-column-gap: 13px;
}

.stages__item:nth-child(2n) {
  margin: 0 18px 30px 10px;
  grid-template-columns: 1fr min-content;
  grid-template-areas: "name num" "desc num";
}

.stages__item:nth-child(4) {
  margin-bottom: 42px;
}

.stages__num {
  font-weight: 500;
  font-size: 144px;
  line-height: 105px;
  grid-area: num;
  align-self: end;
}

.stages__num--sat1 { color: #F6CCB9; }
.stages__num--sat2 { color: #E7B8A9; }
.stages__num--sat3 { color: #D8A49A; }
.stages__num--sat4 { color: #C58886; }

.stages__name {
  font-weight: 700;
  grid-area: name;
  justify-self: start;
  align-self: end;
}

.stages__description {
  font-size: 15px;
  line-height: 18px;
  grid-area: desc;
  justify-self: start;
  align-self: end;
}

.stages__item:nth-child(2n) .stages__name,
.stages__item:nth-child(2n) .stages__description {
  text-align: end;
  justify-self: end;
}

.stages__image {
  width: 414px;
  height: 184px;
  margin-top: 22px;
}

.stages__notes {
  margin: 45px 8px 0 12px;
}

.stages__note {
  padding: 0 0 0 64px;
  margin-bottom: 20px;
  position: relative;
}

.stages__note::before {
  content: "";
  width: 36px;
  height: 36px;
  background-color: #D1AA9D;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}

.stages__note-point {
  font-style: normal;
  color: #D1AA9D;
}

@media (min-width: 1440px) {
  .stages {
    margin-top: 90px;
  }
  
  .stages__list {
    margin: 50px 100px 0;
  }
  
  .stages__item {
    width: 600px;
    margin: 0 40px 80px 0;
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content 1fr;
    grid-template-areas: "num name" "num desc";
    grid-column-gap: 30px;
  }

  .stages__item:nth-child(2n) {
    margin: 0 40px 80px 0;
    grid-template-columns: min-content 1fr;
    grid-template-areas: "num name" "num desc";
    margin-right: 0;
  }
  
  .stages__item:nth-child(4) {
    margin-bottom: 80px;
  }
  
  .stages__num {
    line-height: 115px;
    vertical-align: baseline;
    align-self: start;
  }
  
  .stages__name {
    font-weight: 700;
    grid-area: name;
    align-self: start;
  }
  
  .stages__description,
  .stages__item:nth-child(2n) .stages__name,
  .stages__item:nth-child(2n) .stages__description {
    font-size: 24px;
    line-height: 28px;
    text-align: start;
    justify-self: start;
    align-self: start;
  }
  
  .stages__image {
    width: 1440px;
    height: 640px;
    margin-top: -130px;
  }
  
  .stages__notes {
    margin: 95px 100px 0;
  }
  
  .stages__note {
    padding: 0 0 0 96px;
    margin-bottom: 40px;
    position: relative;
  }
  
  .stages__note::before {
    width: 56px;
    height: 56px;
  }
}


/* Partners */

.partners {
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
  padding: 30px 12px 46px;
  margin: 47px 10px 0;
  background-color: #D1AA9D;
  border-radius: 30px;
}

.partners__title {
  margin-bottom: 20px;
}

.partners__list {
  color: #000000;
  margin-top: 17px;
  display: flex;
  flex-wrap: wrap;
}

.partners__item {
  width: 100%;
  padding: 18px 0 17px;
  background-color: #FFFFFF;
  border-radius: 30px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

@media (min-width: 1440px) {
  .partners {
    font-size: 24px;
    line-height: 28px;
    text-align: start;
    padding: 30px 100px 35px;
    margin: 100px 100px 0;

  }
  
  .partners__title {
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 30px;
  }
  
  .partners__list {
    color: #000000;
    margin-top: 23px;
    margin-bottom: 10px;
  }
  
  .partners__item {
    width: 500px;
    padding: 15px 30px;
    margin-right: 40px;
  }
  
  .partners__item:nth-child(2n) {
    margin-right: 0;
  }

}


/* Contacts */

.contacts {
  color: #FFFFFF;
  margin-top: 50px;
}

.contacts__map {
  width: 100%;
  height: 317px;
}

.contacts__wrapper {
  padding: 30px 16px 58px;
  margin-top: -5px;
  background-color: #AA867A;
}

.contacts__list {
  font-size: 20px;
  line-height: 23px;
  height: 233px;
  margin: 30px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contacts__item {
  padding: 0 0 0 39px;
  position: relative;
}

.contacts__item::before {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}

.contacts__link {
  color: #FFFFFF;

}

.contacts__link--email {
  text-decoration: underline;
}

@media (min-width: 1440px) {
  .contacts {
    color: #FFFFFF;
    margin-top: 100px;
    background-image: url("./img/contacts-bg.svg");
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
  }
  
  .contacts__map {
    height: 537px;
  }
  
  .contacts__wrapper {
    padding: 105px 100px 0 40px;
    background-color: transparent;
    flex-grow: 1;
  }
  
  .contacts__list {
    font-size: 24px;
    line-height: 28px;
    height: auto;
    margin: 50px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .contacts__item {
    padding: 0 0 0 66px;
    margin-bottom: 40px;
    position: relative;
  }
  
  .contacts__item::before {
    content: "";
    width: 28px;
    height: 28px;
    background-color: #FFFFFF;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  
  .contacts__link {
    color: #FFFFFF;
  
  }
  
  .contacts__link--email {
    text-decoration: underline;
  }
}
