.article {
  padding: 67px 317px 163px;
  position: relative;

  &::after {
    .border-line();
    bottom: 105px;
  }

  @media (max-width: @mobile-width) {
    padding: 25px 65px 27px;

    &::after {
      display: none;
    }
  }
}

.article__video {
  width: min-content;
  margin: 0 auto 50px;
  position: relative;

  @media (max-width: @mobile-width) {
    margin: 50px auto 75px;
    border-radius: 33px;
  }
}

.article__text {
  font-weight: normal;
  font-size: 20px;
  line-height: 158.47%;
  color: @basic-black;
  margin: 0 0 25px;

  @media (max-width: @mobile-width) {
    font-size: 9px;
  }
}

.article__preview {
  width: 970px;
  height: 430px;
  object-fit: none;

  @media (max-width: @mobile-width) {
    width: 259px;
    height: 115px;
    object-fit: cover;
    border-radius: 33px;
  }
}

.article__play {  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.article__button {
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  text-decoration: none;
  width: min-content;
  padding: 12px 135px;    
  margin: 150px auto 0;
  border-radius: 14px;
  display: block;

  @media (max-width: @mobile-width) {
    font-size: 9px;
    line-height: 100%;
    padding: 6px 28px;   
    margin-top: 0; 
  }
}