.footer-social {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.footer-social__item {
  width: 10px;
  height: 10px;
  margin-bottom: 4px;
  
  @media (min-width: @desktop-width) {
    width: 51px;
    height: 51px;
    margin-right: 0;
    margin-bottom: 15px;
  }
}

.footer-social__image {
  width: 10px;
  height: 10px;

  @media (min-width: @desktop-width) {
    width: 51px;
    height: 51px;
  }
}

