.making {
  color: @basic-white;
  text-align: center;
  padding: 50px 100px;
  background-color: transparent;
  background-image: linear-gradient(@basic-red 0%, @basic-red 100%);
  background-size: 100% 570px;
  background-repeat: no-repeat;

  @media (max-width: @mobile-width) {
    padding: 45px 45px 30px;
  }
}

.making__title {
  color: @basic-white;

  @media (max-width: @mobile-width) {
    display: none;
  }
}

.making__text {
  margin: 0;

  @media (max-width: @mobile-width) {
    display: none;
  }
}

.making__slider {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: @mobile-width) {
    margin-top: 0;
  }
}

.making__nav {
  color: @basic-white;
  width: 49px;
  height: 90px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &--next {
    transform: rotate(180deg);
  }

  @media (max-width: @mobile-width) {
    width: 15px;
    height: 15px;
  }
}

.making__list {
  list-style: none;
  padding: 0;
  margin: 0 100px;
  display: flex;
  justify-content: center;
  position: relative;
  flex-grow: 1;

  @media (max-width: @mobile-width) {
    margin: 0 16px;
  }
}

.making__item {

  &:nth-child(1) {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;

    & .making__preview {
      width: 259px;
      height: 239px;
      object-fit: none;
    }

    & .making__button {
      display: none;
    }
  }

  &:nth-child(2) {
    position: absolute;
    left: 104px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;

    & .making__preview {
      width: 321px;
      height: 305px;
      object-fit: none;
    }

    & .making__button {
      display: none;
    }
  }

  &:nth-child(3) {
    position: relative;
    z-index: 3;

    & .making__preview {
      width: 970px;
      height: 430px;
      object-fit: none;
    }
  }

  &:nth-child(4) {
    position: absolute;
    right: 104px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;

    & .making__preview {
      width: 321px;
      height: 305px;
      object-fit: none;
    }

    & .making__button {
      display: none;
    }
  }
  
  &:nth-child(5) {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;

    & .making__preview {
      width: 259px;
      height: 239px;
      object-fit: none;
    }

    & .making__button {
      display: none;
    }
  }

  @media (max-width: @mobile-width) {
    display: none;

    &:nth-child(4) {
      display: initial;
      position: static;
      transform: translateY(0);

      & .making__preview {
        width: 216px;
        height: 103px;
      }
  
      & .making__button {
        display: flex;
      }
    }
  }
}

.making__button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}