.making {
  color: @basic-white;
  text-align: center;
  padding: 45px 0 30px;
  background-color: @basic-red;

  @media (min-width: @tablet-width) {
    padding: 45px 0;
  }

  @media (min-width: @laptop-width) {
    background-color: transparent;
    background-image: linear-gradient(@basic-red 0%, @basic-red 100%);
    background-repeat: no-repeat;
    background-size: 100% 400px;
  }

  @media (min-width: @desktop-width) {
    padding: 50px 0;
    background-size: 100% 570px;
  }
}

.making__title {
  color: @basic-white;
  display: none;

  @media (min-width: @laptop-width) {
    display: revert;
  }
}

.making__text {
  margin: 0;
  display: none;

  @media (min-width: @laptop-width) {
    display: revert;
  }
}

.making__slider {
  margin-top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: @laptop-width) {
    margin-top: 70px;
  }
}

.making__nav {
  color: @basic-white;
  width: 15px;
  height: 15px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;

  & svg {
    width: 100%;
    height: 100%;
  }

  &--next {
    transform: rotate(180deg);
  }

  @media (min-width: @tablet-width) {
    width: 25px;
    height: 50px;
  }

  @media (min-width: @laptop-width) {
    width: 40px;
    height: 80px;
  }

  @media (min-width: @desktop-width) {
    width: 49px;
    height: 90px;
  }
}

.making__list {
  list-style: none;
  padding: 0;
  margin: 0 16px;
  display: flex;
  justify-content: center;
  position: relative;
  flex-grow: 1;

  @media (min-width: @laptop-width) {
    margin: 0 70px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 100px;
  }
}

.making__item {
  display: none;

  &:nth-child(4) {
    display: revert;
    position: static;
    transform: translateY(0);

    & .making__preview {
      width: 216px;
      height: 103px;
    }

    & .making__button {
      display: flex;
    }
  }

  @media (min-width: @tablet-width) {
    &:nth-child(2) {
      display: revert;
      position: absolute;
      left: 34px;
      top: 50%;
      transform: translateY(-50%);
      z-index: 2;
  
      & .making__preview {
        width: 154px;
        height: 142px;
        object-fit: contain;
      }
  
      & .making__button {
        display: none;
      }
    }
  
    &:nth-child(3) {
      display: revert;
      position: relative;
      z-index: 3;
  
      & .making__preview {
        width: 375px;
        height: 166px;
        object-fit: contain;
      }
    }
  
    &:nth-child(4) {
      display: revert;
      position: absolute;
      right: 34px;
      top: 50%;
      transform: translateY(-50%);
      z-index: 2;
  
      & .making__preview {
        width: 154px;
        height: 142px;
        object-fit: contain;
      }
  
      & .making__button {
        display: none;
      }
    }
  }
  
  @media (min-width: @laptop-width) {
    &:nth-child(1) {
      display: revert;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
  
      & .making__preview {
        width: 154px;
        height: 142px;
        object-fit: contain;
      }
  
      & .making__button {
        display: none;
      }
    }
  
    &:nth-child(2) {
      left: 40px;
  
      & .making__preview {
        width: 214px;
        height: 197px;
      }
    }
  
    &:nth-child(3) {
      z-index: 3;
  
      & .making__preview {
        width: 675px;
        height: 299px;
      }
    }
  
    &:nth-child(4) {
      right: 40px;
  
      & .making__preview {
        width: 214px;
        height: 197px;
      }
    }
    
    &:nth-child(5) {
      display: revert;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
  
      & .making__preview {
        width: 154px;
        height: 142px;
        object-fit: contain;
      }
  
      & .making__button {
        display: none;
      }
    }
  }

  @media (min-width: @desktop-width) {
    &:nth-child(1) {  
      & .making__preview {
        width: 259px;
        height: 239px;
        object-fit: none;
      }
    }
  
    &:nth-child(2) {
      & .making__preview {
        width: 321px;
        height: 305px;
        object-fit: none;
      }
    }
  
    &:nth-child(3) {
      & .making__preview {
        width: 970px;
        height: 430px;
        object-fit: none;
      }
    }
  
    &:nth-child(4) {
      & .making__preview {
        width: 321px;
        height: 305px;
        object-fit: none;
      }
    }
    
    &:nth-child(5) {
      & .making__preview {
        width: 259px;
        height: 239px;
        object-fit: none;
      }
    }
  }
}

.making__button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}