.page-footer {
  width: 100%;
  padding: 11px 110px 7px;
  background-color: @basic-red;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: @tablet-width) {
    padding: 15px 200px 15px;
  }

  @media (min-width: @laptop-width) {
    padding: 55px 120px 15px;
  }

  @media (min-width: @desktop-width) {
    padding: 85px 160px 35px;
  }
}

.page-footer__title {
  font-weight: 600;
  color: @basic-white;
  margin: 0 auto;
  display: none;

  @media (min-width: @laptop-width) {
    display: revert;
  }
}

.page-footer__wrapper {
  margin: 0 auto;
  display: flex;
  align-items: flex-end;

  @media (min-width: @laptop-width) {
    margin: 42px 0 50px;
  }

  @media (min-width: @desktop-width) {
    margin: 62px 0 93px;
  }
}

.page-footer__contacts-wrapper {
  margin: 0;
  display: flex;
  flex-wrap: nowrap;

  @media (min-width: @tablet-width) {
    margin: 0 45px 0 0;
  }

  @media (min-width: @laptop-width) {
    margin: 0 80px 0 0;
  }

  @media (min-width: @desktop-width) {
    margin: 0 175px 0 200px;
    flex-wrap: wrap;
  }
}

.page-footer__map {
  display: none;

  @media (min-width: @tablet-width) {
    display: revert;

    & img {
      width: 179px;
      height: 83px;
    }
  }

  @media (min-width: @laptop-width) {
    & img {
      width: 666px;
      height: 310px;
    }
  }

  @media (min-width: @desktop-width) {
    & img {
      width: 854px;
      height: 397px;
    }
  }
}

.page-footer__button {
  font-weight: 400;
  font-size: 30px;
  line-height: 32px;
  color: @basic-red;
  padding: 13px 0;
  margin-top: 20px;
  background-color: @basic-white;
  flex-grow: 1;
  display: none;

  @media (min-width: @desktop-width) {
    display: revert;
  }
}

.page-footer__copyright {
  font-weight: 400;
  font-size: 5px;
  line-height: 158.47%;
  color: @text-grey;
  text-align: center;
  margin: 13px auto 0;
  flex-basis: 100%;

  @media (min-width: @tablet-width) {
    font-size: 7px;
  }

  @media (min-width: @laptop-width) {
    font-size: 11px;
    line-height: 16px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    font-size: 13px;
    line-height: 21px;
  }
}
